
  <div class="yoo-sidebarheader-toggle">
    <div class="yoo-button-bar1"></div>
    <div class="yoo-button-bar2"></div>
    <div class="yoo-button-bar3"></div>
  </div><!-- .yoo-sidebarheader-toggle -->
  <div class="yoo-sidebarheader">

    <!-- SIDEBAR MENU-->
    <div class="yoo-sidebarheader-in" data-scrollbar>
      <div class="yoo-sidebar-search">
        <form action="#" class="yoo-search yoo-style1 yoo-search-md">
          <input type="text" placeholder="Search..." class="yoo-search-input">
          <button class="yoo-search-submit"><ion-icon name="search"></ion-icon></button>
          <button class="yoo-voice-btn"><ion-icon name="mic"></ion-icon></button>
        </form>
      </div>
      <!-- SIDEBAR-->
      <div class="yoo-sidebar-nav">
        <ul class="yoo-sidebar-nav-list yoo-mp0">
       <!--Main Menu --> 
       <li class="yoo-sidebar-has-children"  {% if app == "catalog" %}class="active"{% endif%}>
        <a href="#" >
          <span class="yoo-sidebar-link-title">
            <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="cog-outline"></ion-icon></span>
            <span class="yoo-sidebar-link-text">Catalog</span>
          </span>
        </a>
        <ul class="yoo-sidebar-nav-dropdown">
          <!-- sub Menu-->  
          <li >
            <a href="#">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="layers"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Dashboard</span>
              </span>
            </a>
          </li>
          <!-- sub Menu -->
          <li {% if menu == "servers" %}class="active"{% endif%}>       
            <a href="{% url 'servers'%}">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="reader-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Servers</span>
              </span>
            </a>
          </li>
          <!-- sub Menu -->
          <li {% if menu == "databases" %}class="active"{% endif%}>       
            <a href="{%url 'servers_databases' %}">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="server-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Databases</span>
              </span>
            </a>
          </li>
       
        </ul>
      </li>
      <!-- << Main Menu --> 

      <!--Main Menu --> 
      <li class="yoo-sidebar-has-children"  {% if app == "tracking" %}class="active"{% endif%}>
      <a href="#" >
        <span class="yoo-sidebar-link-title">
          <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="newspaper-outline"></ion-icon></span>
          <span class="yoo-sidebar-link-text">Logdata</span>
        </span>
      </a>
      <ul class="yoo-sidebar-nav-dropdown">
        <!-- sub Menu-->  
        <li >
          <a href="{%url 'tracking' %}">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="documents-outline"></ion-icon></span>
              <span class="yoo-sidebar-link-text">Tables</span>
            </span>
          </a>
        </li> 
      </ul>
      </li>

         <!--Main Menu --> 
         <li class="yoo-sidebar-has-children"  {% if app == "deploy" %}class="active"{% endif%}>
            <a href="#" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="hammer-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Deploy</span>
              </span>
            </a>
            <ul class="yoo-sidebar-nav-dropdown">
              <!-- sub Menu-->  
              <li >
                <a href="{%url 'deploy' %}">
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="clipboard-outline"></ion-icon></span>
                    <span class="yoo-sidebar-link-text">Jobs</span>
                  </span>
                </a>
              </li> 
            </ul>
            </li>

        <!--Main Menu --> 
        <li class="yoo-sidebar-has-children"  {% if app == "deploy" %}class="active"{% endif%}>
            <a href="#" >
            <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="archive-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Inventory</span>
            </span>
            </a>
            <ul class="yoo-sidebar-nav-dropdown">
            <!-- sub Menu-->  
            <li >
                <a href="{%url 'deploy' %}">
                <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-icon yoo-style1"><i class="fas fa-dolly fa-lg"></i></span>
                    <span class="yoo-sidebar-link-text">Issues</span>
                </span>
                </a>
            </li> 
            </ul>
            </li>
      
        <!-- logout-->
          <!-- SIDE BAR ITEM-->         
          <li>
            <a href={% url 'logout' %} >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="log-out-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Logout</span>
              </span>
            </a>
          </li> 
        </ul><!-- .yoo-sidebar-nav-list -->
      </div>
    </div>
  </div><!-- .yoo-sidebarheader -->