{% extends "layouts/base.html" %}
{% load floppyforms %}
{% load core_extras %}
{% block title %} Dashboard {% endblock %} 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/assets/css/jqvmap.min.css" />
{% endblock stylesheets %}

{% block content %}

<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
  <div class="yoo-uikits-heading">
    <h2 class="yoo-uikits-title">All Database Servers</h2>
  </div>
</div>

<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
                <!--Header and Modal info -->
                {% with template_info=view.template_name|slice:'-5'|addstr:'_info.html'     %}
                {% include template_info  %}
                {% endwith %}
      
                <!--   - - - - - - - --   -->

        <!--server-->
        <div class="yoo-card-body">
          {% include 'includes/messages.html' %}
          <div class="yoo-padd-lr-20">
            <div class="yoo-height-b20 yoo-height-lg-b20"></div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Server</th>
                  <th scope="col">Host</th>
                  <th scope="col">Instance</th>
                  <th scope="col">Port</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for server in servers_list %}
                <tr>
                  <th scope="row">{{ server.id}}</th>
                  <td>{{ server.Server}}</td>
                  <td>{{ server.Host}}</td>
                  <td>{{ server.Instance}}</td>
                  <td>{{ server.Port}}</td>
                  <td>{% include 'catalog/tables_detail.html' %}</td>
                  <td> 
                    <button type="button" onclick="location.href='/servers/update/{{server.id}}';" class="yoo-card-btn"><ion-icon name="create-outline"></ion-icon></button>
                  </td>
                </tr>

                {% endfor %}

              </tbody>
            </table>
            <!-- table end-->
            
            <div class="modal-footer">
              <button type="button" onclick="location.href='/servers/new/'" class="btn btn-success" data-dismiss="modal">New</button>
            </div>

            <div class="yoo-height-b20 yoo-height-lg-b20"></div>
          </div>
        </div>
      </div><!-- .yoo-card -->
      

    </div><!-- .col -->
  </div>
</div>
<div class="yoo-height-b30 yoo-height-lg-b30"></div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/apexcharts.min.js"></script>
<script src="/static/assets/js/apexcharts.initialize.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.min.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.usa.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.main.js"></script>

{% endblock javascripts %}
