{{block_headerinfo}}
<div class="yoo-card yoo-style1">
  <div class="yoo-card-heading">
      <div class="yoo-card-heading-left">
      <h2 class="yoo-card-title">SERVERS </h2>
      </div>
      <div class="yoo-card-heading-right">
      <button type="button" class="yoo-card-btn" data-toggle="modal" data-target="#help_info"><ion-icon name="help"></ion-icon></button>

           <!-- Code Modal -->
          <div class="modal fade" id="help_info">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                       <h5 class="modal-title">Help</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <ion-icon name="close"></ion-icon>
                      </button>
                  </div>
                  <div class="modal-body">
                  <!--                      -->
                  Informaciónn del listado de servidores
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secundary" data-dismiss="modal">Close</button>
                  </div>
              </div>

          </div>
      </div>
  </div> <!-- heading-->
</div>
{{endblock}}