{% extends "layouts/base.html" %}
{% load floppyforms %}
{% load core_extras %}

{% block title %} Servers details {% endblock %} 

<!-- Specific CSS goes HERE -->

{% block stylesheets %}

  <link rel="stylesheet" type="text/css" href="/static/assets/css/jqvmap.min.css" />
  
{% endblock stylesheets %}

{% block content %}
<!-- load-->

<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container"> <!--Title -->
    <div class="yoo-uikits-heading">
        <h2 class="yoo-uikits-title">Database Servers</h2>
    </div>
</div> <!-- title-->

<div class="yoo-height-b30 yoo-height-lg-b30"></div> <!-- Contenido-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--Header and Modal info -->
                {% with template_info=view.template_name|slice:'-5'|addstr:'_info.html'     %}
                {% include template_info  %}
                {% endwith %}
                <!--   - - - - - - - --   -->
                <div class="yoo-card-body">
                  {% include 'includes/messages.html' %}
                   <div class="yoo-padd-lr-20"> <!-- ident -->
                      <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                          <form id="update"method="post">
                            {% csrf_token %}

                            <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Are tu sure?</h4>
                            <p>The server  {{server_delete.Server}}/ {{server_delete.Instance}} will be removed
                              <li>All data history will be erased</li>
                              <li>{{server_delete.Type}}</li>
                              <li>All related configuration will be removed</li>
                            <hr>
                            <p class="mb-0">There is no way back.</p>
                            </div>
                            
                            <div class="row">
                              <div class="col">
                                  <input type="submit" class="btn btn-danger" value="Confirm">
                                  <button type="button" onclick="location.href='/servers/';" class="btn btn-secondary">Cancel</button>
                              </div>
                              <div class="col-md-auto">
                              
                              </div>
                              <div  style="display: flex; justify-content: flex-end"  class="col col-lg-2" >
                              </div>
                            </div>
                          </div>
      
                        </form>
                      <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    </div>
                  </div>

                <div class="yoo-height-b20 yoo-height-lg-b20"></div><!--footer card-->
            </div>
        </div> <!---row-->
    </div><!-- container  -->
</div><!-- contenido -->


<!--
</div>
</div> -->

<div class="yoo-height-b30 yoo-height-lg-b30"></div> <!-- outer card-->



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"/>


</script>

<script src="/static/assets/js/apexcharts.min.js"></script>
<script src="/static/assets/js/apexcharts.initialize.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.min.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.usa.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.main.js"></script>

{% endblock javascripts %}
